*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "./variables.css";
@import "./css/general.css";
@import "./components/dashboard/dashboard.css";
@import "./components/nav-board-item/nav-board-item.css";
@import "./components/nav-board-list/nav-board-list.css";
@import "./components/nav-side/nav-side.css";
@import "./components/board-viewer/board-viewer.css";
@import "./components/board-column/board-column.css";
@import "./components/task-card/task-card.css";
@import "./components/add-item/add-item.css";
